

{% extends 'base_template.html' %}
{% load crispy_forms_tags %}

{% block base_title %}
Reset Password
{% endblock %}

{% block base_top_nav %}{% endblock %}
{% block base_left_nav %}{% endblock %}

{% block base_contents %}

    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="border bg-white my-5 text-secondary small">
                <div class="text-center p-3">
                    <p class="lead"><b>Password Reset</b></p>
                    <hr>
                </div>
                <div class="p-3 pt-0 text-center">
                    <p>your previous password has been changed successfully, HURRY! go get and login again<br><br>
                    <a href="{% url 'application:login' %}">Click here to Login</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<!-- <h1>Built-In Login Logout</h1> -->
