

{% extends 'base_template.html' %}
{% load crispy_forms_tags %}

{% block base_title %}
Reset Password
{% endblock %}

{% block base_top_nav %}{% endblock %}
{% block base_left_nav %}{% endblock %}

{% block base_contents %}

    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="border bg-white my-5 text-secondary small">
                <div class="text-center p-3">
                    <p class="lead"><b>Password Reset</b></p>
                    <hr>
                </div>
                <div class="p-3 pt-0 text-center">
                    <p>we have sended a secure password reset link to your email address, i will be expired after some
                        time so check your mail box<br><br>
                        <a href="https://mail.google.com/" target="_blank" class="btn btn-sm btn-outline-success">
                            <i class="fa fa-google"></i>
                        </a>
                        <a href="https://login.yahoo.com/" target="_blank" class="btn btn-sm btn-outline-danger">
                            <i class="fa fa-yahoo"></i>
                        </a>
                        <a href="https://outlook.live.com/" target="_blank" class="btn btn-sm btn-outline-primary">
                            <i class="fa fa-windows"></i>
                        </a>
                    </p>
                    <a href="{% url 'application:login' %}">Back to Login Page</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}