{% autoescape off %}
    Hi {{ user.full_name }}, Welcome to Ehelp

    Ehelp is a platform which has been developed on the vision to support the community within your city, country and
    the globe here you can request for help, we will try to connect the heroes that are near you.

    To become a hero you need to help others as well, the more you help the more points you get and you will be ranked #100
    in city, country and globe you can share your badges and achievements on facebook, google+, instagram and many other
    platforms

    Please click on the link below to confirm your registration,
    http://{{ domain }}{% url 'application:activate' uidb64=uid token=token %}

    In the time of this worldwide pendamic COVID-19
    "Be a reason of someone to smile"

    Thanks
    Team Ehelp
{% endautoescape %}