{% extends 'base_template_left_nav.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %} Dashboard {% endblock %}

{% block base_content_row_col_content %}

    <div id="main-div text-secondary">
        <p class="border-bottom row p-4"><b>Profile Update</b><br></p>

        {# MAIN-DIV #}
        <div class="row">

            <div class="col-sm-6 p-sm-5">
                <p class="lead">Basic Details</p>
                <a href="{{ form.instance.profile.url }}"><img src="{{ form.instance.profile.url }}"
                                                               class="shadow rounded-circle d-block mx-auto" height="150"
                                                               width="150"></a><br>
                <form class="small" action="/profile/?action=profile" method="post" enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" class="btn btn-sm btn-success">
                </form>
            </div>

            <div class="col-sm-6 p-sm-5">
                <p class="lead">Contact Details</p>
                <form class="small" action="/profile/?action=contact" method="post" autocomplete="off">
                    {% csrf_token %}
                    {{ form_contact | crispy }}
                    <input type="submit" class="btn btn-sm btn-success">
                </form>
            </div>
        </div>
    </div>
{% endblock %}